<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tree View</title>
  </head>
  <body>
    <main>
      {% for node in tree %}
      <div style="margin-left: {{ node.depth * 20 }}px">
        ({{ node.id }}) <b>{{ node.fraction }}</b>|{% if node.start_id == None %}
          {{ node.title }}
        {% else %}
          <b>END</b>
        {% endif %}
      </div>
      {% endfor %}
    </main>
  </body>
</html>
